<style>
div.ex1 {
    margin: 2% 0% 3% 4%;
}

</style>
  
<div class= "ex1"> 
<center><h2><span class="label label-primary">New AIR  </span></h2></center>

<%= render 'form' %>

<%= link_to "<button type='button' class='btn btn-danger'> Cancel </button>".html_safe , sys_admin_index_path%>

</div>
